<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="post">
          <fieldset>
            <legend>Escribe tu URL</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="Escribe tu URL" required />
            <input id = "submit" type="submit" value="Short it!" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By Friedchez</p>
    </footer>
  </body>
</html>
